{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <header>
    <section class="mb-3">
      <div class="card">
        <div class="card-body">
          <div>
            <h1>{{name}}</h1>
          </div>
          <br />
          <div>
            Birthdate: <em>{{birthdate}}</em>
          </div>
          <br />
          <div>
            Birthplace:
            {{birthplace}}
          </div>
          <br />
          <div>
            Deathdate:
            {{deathdate}}
          </div>
          <br />
          <div>
            Deathplace:
            {{deathplace}}
          </div>
          <br />
          <div>
            Nationality:
            {{nationality}}
          </div>
          <br />
          <div>
            Occupation:
            {{occupation}}
          </div>
          <br />
          <div>
            Known:
            <ul>
              {{#each known_for}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <div class="card">
      <div class="card-body">
        <section>
          <div>
            {{#each education}}
            {{> title data="Education" big=true}}
            <div class="my-2">
              Degree: {{degree}}
            </div>
            <div class="my-2">
              Field: {{field}}
            </div>
            <div class="my-2">
              Institution: {{institution}}
            </div>
            <div class="my-2">
              Year: {{year}}
            </div>
            {{/each}}
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Notable publications:</b>
            </div>
            <ul>
              {{#each notable_publications}}
              <li>{{title}} / {{year}} / {{publisher}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Partners:</b>
            </div>
            <ul>
              {{#each partners}}
              <li>{{name}} / {{relationship}} / {{years}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Awards:</b>
            </div>
            <ul>
              {{#each awards}}
              <li>{{title}} / {{year}} / {{description}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Influences:</b>
            </div>
            <ul>
              {{#each influences}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Influenced:</b>
            </div>
            <ul>
              {{#each influenced}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Quotes:</b>
            </div>
            <p>{{quotes}}</p>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Major discoveries:</b>
            </div>
            <ul>
              {{#each major_discoveries}}
              <li>{{title}} / {{year}} / {{description}}</li>
              {{/each}}
            </ul>
          </div>
        </section>
        <hr />
        <section>
          <div>
            <div class="my-2">
              <b>Contributions:</b>
            </div>
            <ul>
              {{contributions.title}} / {{contributions.description}} / {{contributions.year}} / {{contributions.field}}
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}