{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <header>
    <section>
      <div>
        <h1>{{name}}</h1>
      </div>
      <br>
      <div>
        <em>{{description}}</em>
      </div>
      <br>
      <div>
        <span class="badge text-bg-primary">History:</span>
      </div>
      <br>
      <div>
        {{history.year}} {{history.founder}}
      </div>
    </section>
  </header>
  <br>
  <hr>
  <main>
    <section>
      <div>
        <span class="badge text-bg-dark">Types:</span>
      </div>
      <br>
      <div>
        <ul>
          {{#each types}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </section>
    <br>
    <hr>
    <section>
      <div>
        <span class="badge rounded-pill text-bg-success">Syntax:</span>
      </div>
      <br>
      <div>
        {{#with syntax}}
        <b>Variables:</b>
          <ul>
            {{#each variables}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <b>Functions:</b>
          <ul>
            {{#each functions}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <b>Conditionals:</b>
          <ul>
            {{#each conditionals}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <b>Loops:</b>
          <ul>
            {{#each loops}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <b>Classes:</b>
          <ul>
            {{#each classes}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/with}}
      </div>
    </section>
    <br>
    <hr>
    <section>
      <div>
        <span class="badge rounded-pill text-bg-warning">Features:</span>
      </div>
      <br>
      <div>
        <ul>
            {{#each features}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
      </div>
    </section>
    <br>
    <hr>
    <section>
      <div>
        <span class="badge text-bg-light">Libraries:</span>
      </div>
      <br>
      <div>
        <ul>
            {{#each libraries}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
      </div>
    </section>
    <br>
    <hr>
    <section>
      <div>
        <span class="badge text-bg-secondary">Tools:</span>
      </div>
      <br>
      <div>
        <ul>
            {{#each tools}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
      </div>
    </section>
    <br>
    <hr>
    <section>
      <div>
        <span class="badge text-bg-secondary">Community:</span>
      </div>
      <br>
      <div>
        <ul>
            {{#each community}}
              <li>{{name}} / {{type}}</li>
            {{/each}}
          </ul>
      </div>
    </section>
  </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}