{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <div class="card">
    <header>
      <div class="card-header">
        {{#with program}}
        <section class="text-center">
          <div>
            <h1>{{excursion.name}}</h1>
          </div>

          <div>
            {{#with excursion}}
            <address>
              {{location.city}}
              {{location.country}}
            </address>
            {{/with}}
          </div>

          <div>
            <em>{{excursion.date}}</em>
          </div>
        </section>
      </div>
    </header>

    <main class="ms-4">
      <section class="my-2">
        <div class="mb-2">
          <h2>Program</h2>
        </div>
        {{#with excursion}}
        <div class="mb-2">
          {{#with program.[0]}}
          <ul>
            <li> {{name}} {{type}} {{duration}}</li>
          </ul>
          {{/with}}
        </div>

        <hr class="me-4">
        <div>
          <div class="mb-2">
            <em>Details:</em>
          </div>

          {{#each program}}
          <ul>
            {{details.museum.name}}
            <address>
              {{details.museum.location.address}}
              {{details.museum.location.city}}
              {{details.museum.location.country}}
            </address>
          </ul>
          {{/each}}
        </div>

        <hr class="me-4">
        <div>
          <div class="mb-2">
            <em>Exhibits:</em>
          </div>
          
          <ul>
            {{#each program}}
            {{#with details.museum}}
            {{#each exhibits}}
            <li>{{name}}
              /
              {{artist}}
              /
              {{description}}
              /
              {{audio_guide}}</li>
            {{/each}}
            {{/with}}
            {{/each}}
          </ul>
        </div>

        <hr class="me-4">
        <div>
          <em>Guide:</em>
          {{#with program.[0]}}
          {{#with details.guide}}
          {{name}}
          /
          {{language}}
          /
          {{rating}}
          {{/with}}
          {{/with}}
        </div>
        <hr class="me-4">
        <div>
          {{#with program.[1]}}
          <ul>
            <li> {{name}} {{type}} {{duration}}</li>
          </ul>
          {{/with}}
        </div>
        <hr class="me-4">
        <div>
          <em>Details:</em>

          {{#each program}}
          <ul>
            {{details.venue.name}}
            <address>
              {{details.venue.location.address}}
              {{details.venue.location.city}}
              {{details.venue.location.country}}
            </address>
          </ul>
          {{/each}}
        </div>
        <hr class="me-4">
        <div>
          <div class="mb-2">
            <em>Performers:</em>
          </div>
          {{#each program}}
          {{#with details}}
          <ul>
            {{#each performers}}
            <li>{{name}} / {{type}}</li>
            {{/each}}
          </ul>
          {{/with}}
          {{/each}}
        </div>
        <hr class="me-4">
        <div>
          <em>Guide:</em>
          {{#with program.[1]}}
          {{#with details.guide}}
          {{name}}
          /
          {{language}}
          /
          {{rating}}
          {{/with}}
          {{/with}}
        </div>
        {{/with}}
      </section>
    </main>
    {{/with}}
  </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}