{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div class="ms-4">
  <header>
    <section class="row gy-2">
            {{#with navigation}}
                {{#each links}}
                    <div class="col-2">
                        <a href="{{href}}">{{text}}</a>
                    </div>
                {{/each}}
                <div class="col-2">
                    <a href="{{button.href}}" class="btn btn-primary btn-sm">{{button.text}}</a>
                </div>
            {{/with}}
    </section>
    <hr>
    <section class="row g-2">
        {{#with header}}
            <div>
                <h1>{{title}}</h1>
            </div>
            <div>
                <p>{{description}}</p>
            </div>
            <div>
                <a href="{{button.link}}" class="btn btn-primary btn-sm">{{button.text}}</a>
            </div>
        {{/with}}   
    </section>
  </header>
  <hr>
  <main>
    <section class=" row gy-3">
        {{#with city}} 
            <div>
                <h2>{{title}}</h2>
            </div>
            <div class="row">
                {{#each cards}}
                    <div class="col-5 g-3">
                        <div class="card">
                            {{#with picture}}
                                <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                            {{/with}}
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>
                                <p>{{description}}</p>
                                {{#with button}}
                                    <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/with}}
    </section>
    <hr>
     <section class=" row gy-3">
        {{#with winner}} 
            <div>
                <h2>{{title}}</h2>
            </div>
            <div>
                {{#with table}}
                    <table class="table table-bordered">
                        <thead>
                                <tr>
                                    {{#each head}}
                                        <th>                                          
                                            {{this}}
                                        </th>
                                    {{/each}}
                                </tr>
                        </thead>
                        <tbody>
                            {{#each user}}
                                <tr>
                                    <th>{{place}}</th>                                 
                                    <td>{{name}}</td>
                                    <td>{{surname}}</td>
                                    <td>{{nickname}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            {{/with}}
            </div>
        {{/with}}
    </section>
    <hr>
    <section class=" row gy-3">
        {{#with gallery}}
             <div>
                <h2>{{title}}</h2>
            </div>
            {{#each cards}} 
                <div class="col-4 g-2">
                    <div class="card">
                        <div class="card-header">
                            <div>{{name}}</div> 
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each items}}
                                <li class="list-group-item">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{/with}}
    </section>
    <hr>
    <section class=" row gy-3">
        {{#with relaxion}}
            <div class="display-3">
                {{title}}
            </div>
            <div class="row">
                {{#each cards}}
                    <div class="col-5 g-3">
                    <div class="card text-bg-secondary">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6> 
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        {{/with}}
    </section>
    <hr>
    <section class=" row gy-3">
        {{#with rest}}
            <div class="row">
                {{#each cards}}
                    <div class="col-6 g-3">
                        <div class="card text-center">
                            <div class="card-header">
                                {{header}}
                            </div>
                            <div class="card-body">
                                <h6>{{title}}</h6>
                                <p>{{description}}</p>
                                <button class="btn btn-primary btn-sm">{{button}}</button>
                            </div>
                            <div class="card-footer">
                                {{footer}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>            
        {{/with}}
    </section>
    <hr>
    <section class=" row gy-3">
        {{#with proposition}}
            <div class="display-2">
                {{title}}
            </div>
            <div class="row">
                {{#each card}}
                    <div class="col-5 g-3">
                        <div class="card text-bg-warning">
                            <div class="card-header">
                                {{header}}
                            </div>
                            <div class="card-body">
                                <h6>{{title}}</h6>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>            
        {{/with}}
    </section>
    <hr>
  </main>
  <footer>
    <section class=" row gy-3">
        {{#with footer}}
            <div>
                <h5>{{title}}</h5>
            </div>
            <div class="col-4 gy-3 list-group">
                {{#each navigation}}
                        <a href="{{href}}" class="my-2 list-item" target="_blank"><button class="btn btn-link">{{text}}</button></a>
                {{/each}}
            </div>
            <div class="col-4 list-group">
                {{#each socialMedia}}
                        <a href="{{link}}" class="my-2 list-item" target="_blank"><button class="btn btn-outline-dark">{{name}}</button></a>
                {{/each}}
            </div>
            <div class="col-4 list-group">
                {{#each partners}}
                        <a href="{{link}}" class="my-2 list-item" target="_blank"><button class="btn btn-outline-info">{{name}}</button></a>
                {{/each}}
            </div>
        {{/with}}
    </section>
  </footer>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}